/******************************perple*****************************************************/

time {
  font-family: "inkwell serif a", "inkwell serif b";
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.2rem 0;
  letter-spacing: 0.1rem;
  color: #fff;
}

.block {
  margin: 0 0 2rem;
}
.block:last-child {
  margin-bottom: 0;
}

.fun-wrap-purple h2 {
  color: #9e88f7;
}
.fun-wrap-purple .fun-wrap {
  border-color: #9e88f7;
  -webkit-box-shadow: 0 10px 50px rgba(158, 136, 247, 0.2);
  box-shadow: 0 10px 50px rgba(158, 136, 247, 0.2);
}
.homepage-grid2 {
  display: flex;

  grid-template-columns: minmax(10px, 0.75fr) minmax(10px, 1fr);
  grid-gap: 3rem;
  margin: 0 0 4rem;

  margin-top: 50px;
}
.homepage-grid2 h2 {
  font-family: inkwell sans a, inkwell sans b;
  margin: 0 0 0.15rem;
  text-align: center;
  text-transform: uppercase;
}

.fun-wrap-red h2 {
  color: #f31d1d;
}
.fun-wrap-red .fun-wrap {
  border-color: #f31d1d;
  -webkit-box-shadow: 0 10px 50px rgba(158, 136, 247, 0.2);
  box-shadow: 0 10px 50px rgba(158, 136, 247, 0.2);
}

.fun-wrap-blue h2 {
  color: #1428d6;
}
.fun-wrap-blue .fun-wrap {
  border-color: #1428d6;
  -webkit-box-shadow: 0 10px 50px rgba(158, 136, 247, 0.2);
  box-shadow: 0 10px 50px rgba(158, 136, 247, 0.2);
}

.fun-wrap-green h2 {
  color: #2ed43c;
}
.fun-wrap-green .fun-wrap {
  border-color: #2ed43c;
  -webkit-box-shadow: 0 10px 50px rgba(158, 136, 247, 0.2);
  box-shadow: 0 10px 50px rgba(158, 136, 247, 0.2);
}
